#registerForm {
    padding: 10px 20px;
    height: 35rem;
    width: 25rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: rgb(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.loginContainer {
    margin-top: 5rem;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#loginForm button {
    padding: 10px;
}
#adminBtn {
    display: flex;
    flex-direction: column;
}
#logoutAdmin {
    position: relative;
}