<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/admin.css">
    <link rel="icon" href="../assets/img/iconTabLogo.png" type="image/png">
    <title>Admin</title>

</head>

<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1 style="cursor: pointer;"><img src="../assets/img/profile.jpg" alt="" >&nbsp<span>Admin</span> </h1>
        </div>
        <ul>
            <li style="cursor: pointer;"><img src="" alt=""><span id="Home">Home</span></li>
            <li style="cursor: pointer;"><img src="" alt=""><span id="searchFilter">Search Filter</span> </li>
            <li style="cursor: pointer;"><img src="" alt=""><span id="addRoles">Add User Roles</span> </li>
        </ul>
    </div>

    <div class="container">  
        <div class="homePage"> 
            <h1>HELLO, ADMIN!</h1>
        </div>
    </div>

</body>
    <script src="../assets/js/admin.js"></script>
</html>