<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="../assets/css/dashboard.css">
        <link rel="icon" href="../assets/img/iconTabLogo.png" type="image/png">
    </head>
    <body>
        <div class="header_container">
            <button>☰</button>
            <h2>VCITE</h2>
            <div class="header_container1">
                <li>🔔</li>
                <div class="header_container2" onclick="showDropdown()">
                    <li>Name</li>
                    <li>▼</li>
                    <div class="dropdown-content">
                        <a href="dashboard.html">Dashboard</a>
                        <a href="profile.html">Profile</a>
                        <a href="../index.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="dashboard">
            <h1 style="font-size: 50px;">WELCOME TO DASHBOARD!</h1>
        </div>

        <div id="profile">

        </div>

    </body>
    <script src="../assets/js/dashboard.js"></script>
</html>